<!DOCTYPE html>
<head>
    <title>EBJN - +10</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/index">
    <link rel="manifest" href="/manifest">
    <link rel="icon" href="/icon">
    <meta name="theme-color" content="#1DA6E1"/>
    <meta name="description" content="Biblioteca Digital da Escola Municipal José Neri de Oliveira.">
    <meta name="author" content="Renan Augusto, Rosa Maria, Dafne Matias, Maria Yasmin">
    <script src="https://kit.fontawesome.com/e77c01ed94.js" crossorigin="anonymous"></script>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-3TGJ8RLB5P"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-3TGJ8RLB5P');
    </script>
</head>
<html lang="pt-br">
    <body>
        <div id="menu">
            <button id="close-menu"><i class="fa-solid fa-arrow-left"></i></button>
           <details>
            <summary>Generos.</summary>
            <p>Teste</p>
           </details> 
           <br>
           <details>
            <summary>Autores.</summary>
            <p>Teste</p>
           </details> 
           <br>
           <details>
            <summary>Os mais lidos.</summary>
            <p>Teste</p>
           </details> 
           <br>
           <details>
            <summary>Novidades.</summary>
            <a href="/LIVRO/melhor-do-que-nos-filmes" class="simple-link">Melhor do que nos filmes - Lynn Painter</a>
            <br>
            <a href="/SERIE/estilhaca-me" class="simple-link">Estilhaça-me - Tahereh Mafi</a>
           </details> 
           <hr>
           <a href="https://jornaljoseneri.blogspot.com" target="_blank" class="simple-link">JJN</a>
           <br>
           <a href="/sobre" class="simple-link">Sobre</a>
        </div>
        <nav>
            <button class="voltar" onclick="history.back()"><i class="fa-solid fa-arrow-left"></i></button>
            <h1>EBJN</h1>
           <button onclick="window.location.assign('/cadastro')" class="usuario" id="u"><i class="fa-solid fa-user-plus"></i></button>
        </nav>
        <div id="user-data">
            <h2>Ola <span>user</span>!</h2>
            <label id="pnts"><i class="fa-solid fa-circle-half-stroke"></i>0 Pnts.</label>
        </div>
        <h2>+10 Anos.</h2>
        <div class="livros">
            <%for(let i = 0; i < moderatedBooks.length; i++) {%> 
                <div class="container">
                    <img src="https://ebjn.serveo.net/PAGES/<%=moderatedBooks[i].placeholder%>/<%=moderatedBooks[i].placeholder%>1.png" alt="Livro <%=moderatedBooks[i].title%>">
                    <h6>Editor(a): <%=moderatedBooks[i].author%></h6>
                    <button onclick="window.location.assign('/LIVRO/<%=moderatedBooks[i].placeholder%>')" class="primary-button">Ler ></button>
                </div>
            <%}%>
        </div>
        <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
        <link rel="stylesheet" href="/css/nprogress">
        <script src="/js/nprogress"></script>
        <script>
            $('body').show();
            $('.version').text(NProgress.version);
            NProgress.start();
        </script>
        <script>
            NProgress.done();
        </script>
    </body>
</html>